{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
     <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <h1>This is where you'll be signing in</h1>
    <h2>Sign in here!</h2>

    <form class="form" action={% url 'signup' %} method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Signup">
    </form>

    <h2>login here!</h2>

    <form class="login" action={% url 'login' %} method="post">
      {% csrf_token %}
      {{ form }}
      {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif %}
      <input type="submit" value="login">
    </form>

    <h2>logout here!</h2>
  </body>
</html>
