{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
     <link rel="stylesheet" href="{% static 'styles.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Poiret+One" rel="stylesheet">
  </head>
  <body>
                     <!-- logout button -->
    <form class="logout" action={% url 'logout' %} method="post">
      {% csrf_token %}
      <input type="submit" value="logout">
    </form>

    <h1>This is your profile page</h1>
    <div class="newpost">
      <h2>You'll create new posts here</h2>
                     <!-- create new post  -->
      <form class="form" action={% url 'profile' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="Submit" value="Create">
      </form>

    </div>
  </body>
</html>
